/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import "@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #EEEEEE;
    color: #11191D;
}

.button-primary {
    background-color: #1E828F;
    color: #EEEEEE;

    &:disabled {
        background-color: #559999;
        border: none;
        color: #EEEEEE;
    }

    &:hover {
        background-color: #324b4f;
        color: #EEEEEE;
    }
}

.button-secondary {
    background-color: #374957;
    color: #EEEEEE;

    &:hover {
        background-color: #677989;
        color: #EEEEEE;
    }
}

.border {
    border-color: #383838 !important;

    .form-control {
        border-color: #676767;
    }

    .ng-select-container {
        border-color: #676767;
    }
}

.sidebar {
    height: 100%;
    position: fixed;
    background-color: #11191D;
    color: #EEEEEE;

    &__list {
        list-style: none;
    }

    &__item {
        button {
            &:hover {
                background-color: #335555;
            }
        }
    }
}